.my-editor-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .formatting-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        padding: 1rem 0;
        margin-bottom: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        .formatting-btn {
            background-color: #0B60B0;
            border: none;
            cursor: pointer;
            height: 3rem;
            width: 3rem;
            color: white;
            border-radius: 0.5rem;
    
            &:hover {
                background-color: #40A2D8;
            }
        }
    }

    .editor-main-div {
        // border: 1px solid black;
        width: 50%;
        // background-color: #EEF5FF;
        min-height: 800px;
        padding: 2rem;
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        margin-bottom: 2rem;
    }
}